.game {
    width: 600px;
    height: 250px;
    border-bottom: 4px solid #000000;
    margin: auto;
}
#dino {
    width: 40px;
    height: 40px;
    background-image: url(img/DinoP.png);
    background-size: 40px 40px;
    position: relative;
    top: 212px;
    left: 20px;
}
#cactus {
    width: 40px;
    height: 50px;
    background-image: url(img/Cactus.png);
    background-size: 40px 50px;
    position: relative;
    top: 167px;
    left: 580px;
    animation: Mov 1.5s infinite linear;
}
#sun {
    width: 80px;
    height: 40px;
    background-image: url(img/Obl.png);
    background-size: 80px 40px;
    position: relative;
    top: 20px;
    left: 580px;
    animation: Mov 60s;
}
#sun2 {
    width: 80px;
    height: 40px;
    background-image: url(img/Obl.png);
    background-size: 80px 40px;
    position: relative;
    top: 20px;
    left: 300px;
    animation: Mov 40s infinite linear;
}
*{
    margin: 50;
    padding: 0;
    front-family: "Poppins", sans-serif;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*#dpo {
    width: 50px;
    height: 40px;
    background-image: url(img/dpo.png);
    background-size: 50px 40px;
    position: relative;
    top: 86px;
    left: 300px;
    animation: Mov 4s infinite linear;
}*/
    @keyframes Mov {
        0% {
            left: 600px;
        }

        100% {
            left: -20px;
        }
    }

    .jump {
    animation: jump 1s;
}

@keyframes jump {
    0% {
        top: 200px;
        left: 20px;
    }
    33% {
        top: 140px;
        left: 30px;
    }
    66% {
        top: 200px;
        left: 30px;
    }
    100% {
        left: 20px;
        top: 200px;
    }
}