.game {
    width: 600px;
    height: 250px;
    border-bottom: 4px solid #00ff21;
    margin: auto;
}
#dino {
    width: 40px;
    height: 50px;
    background-image: url(img/Dno.png);
    background-size: 40px 50px;
    position: relative;
    top: 200px;
    left: 20px;
}
#cactus {
    width: 40px;
    height: 40px;
    background-image: url(img/PALMA.png);
    background-size: 40px 50px;
    position: relative;
    top: 160px;
    left: 580px;
    animation: cactusMov 3s infinite linear;
}
#sun {
    width: 40px;
    height: 40px;
    background-image: url(img/Sun.png);
    background-size: 40px 40px;
    position: relative;
    top: 20px;
    left: 580px;
    animation: cactusMov 50s infinite linear;
}
@keyframes sunMov {
    0% {
        left: 580px;
    }
    100% {
        left: -20px;
    }
}
@keyframes cactusMov {
    0% {
        left: 580px;
    }
    100% {
        left: -20px;
    }
}
.jump {
    animation: jump 0.85s linear;
}

@keyframes jump {
    0% {
        top: 200px;
    }
    30% {
        top: 120px;
        left: 50px
    }
    70% {
        top: 120px;
        left: 50px;
    }
    100% {
        top: 200px;
        left: 20px;
    }
}